@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS*/

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F7FA;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}